<a href="https://colab.research.google.com/github/anusha-tikarya/Hexa_Project/blob/Week1/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# Set up SQLite
import sqlite3

# Create database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create tables to store customer, product, and order data
cursor.execute('''
CREATE TABLE customer_dim (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(255),
    location VARCHAR(255)
);
''')

cursor.execute('''
CREATE TABLE product_dim (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(255),
    category VARCHAR(255)
);
''')

cursor.execute('''
CREATE TABLE order_fact (
    order_id INT PRIMARY KEY,
    product_id INT,
    customer_id INT,
    quantity INT,
    order_amount DECIMAL(10, 2),
    order_date TIMESTAMP
);
''')

# Inserting sample data
cursor.execute("INSERT INTO product_dim VALUES (1, 'Phone', 'Electronics')")
cursor.execute("INSERT INTO product_dim VALUES (2, 'Laptop', 'Electronics')")
cursor.execute("INSERT INTO product_dim VALUES (3, 'Tablet', 'Electronics')")

cursor.execute("INSERT INTO customer_dim VALUES (2001, 'Anu', 'India')")
cursor.execute("INSERT INTO customer_dim VALUES (2002, 'Meena', 'canada')")
cursor.execute("INSERT INTO customer_dim VALUES (2003, 'Tanisha', 'New York')")

cursor.execute("INSERT INTO order_fact VALUES (1001, 1, 2001, 1, 139.99, '2023-09-27 12:30:00')")
cursor.execute("INSERT INTO order_fact VALUES (1002, 2, 2002, 2, 934.99, '2023-09-27 14:45:00')")
cursor.execute("INSERT INTO order_fact VALUES (1003, 3, 2003, 1, 543.99, '2023-09-27 15:30:00')")

# Commit the changes
conn.commit()

# Query data to analyze customer behavior and product interactions

# 1. Retrieve all customer data
cursor.execute("SELECT * FROM customer_dim")
customers = cursor.fetchall()
print("Customer Data:")
for row in customers:
    print(row)

# 2. Retrieve all product data
cursor.execute("SELECT * FROM product_dim")
products = cursor.fetchall()
print("\nProduct Data:")
for row in products:
    print(row)

# 3. Retrieve all order data
cursor.execute("SELECT * FROM order_fact")
orders = cursor.fetchall()
print("\nOrder Data:")
for row in orders:
    print(row)

# 4. Finding the Highest SalesÂ Day
cursor.execute('''
SELECT
    DATE(order_fact.order_date) AS order_day,
    SUM(order_fact.order_amount) AS total_sales
FROM order_fact
GROUP BY order_day
ORDER BY total_sales DESC
LIMIT 1;
''')
highest_sales_day = cursor.fetchone()
print("\nHighest Sales Day:")
print(highest_sales_day)

# Close the connection
conn.close()

Customer Data:
(2001, 'Anu', 'India')
(2002, 'Meena', 'canada')
(2003, 'Tanisha', 'New York')

Product Data:
(1, 'Phone', 'Electronics')
(2, 'Laptop', 'Electronics')
(3, 'Tablet', 'Electronics')

Order Data:
(1001, 1, 2001, 1, 139.99, '2023-09-27 12:30:00')
(1002, 2, 2002, 2, 934.99, '2023-09-27 14:45:00')
(1003, 3, 2003, 1, 543.99, '2023-09-27 15:30:00')

Highest Sales Day:
('2023-09-27', 1618.97)