<a href="https://colab.research.google.com/github/anusha-tikarya/Hexa_Project/blob/Week2/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# No external libraries need to be installed since SQLite and pandas are pre-installed in Colab.
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import random
from datetime import datetime
from time import sleep

In [7]:
# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create customer, product, and order tables
cursor.execute('''
CREATE TABLE customer_dim (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(255),
    location VARCHAR(255)
);
''')

cursor.execute('''
CREATE TABLE product_dim (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(255),
    category VARCHAR(255)
);
''')

cursor.execute('''
CREATE TABLE order_fact (
    order_id INT PRIMARY KEY,
    product_id INT,
    customer_id INT,
    quantity INT,
    order_amount DECIMAL(10, 2),
    order_date TIMESTAMP
);
''')

# Insert sample data into the tables
cursor.execute("INSERT INTO customer_dim VALUES (2001, 'Anu', 'India')")
cursor.execute("INSERT INTO customer_dim VALUES (2002, 'Meena', 'Canada')")
cursor.execute("INSERT INTO customer_dim VALUES (2003, 'Tanisha', 'New York')")

cursor.execute("INSERT INTO product_dim VALUES (1, 'Phone', 'Electronics')")
cursor.execute("INSERT INTO product_dim VALUES (2, 'Laptop', 'Electronics')")
cursor.execute("INSERT INTO product_dim VALUES (3, 'Tablet', 'Electronics')")

conn.commit()  # Commit the changes

In [8]:
# Connect to the SQLite database using SQLAlchemy
engine = create_engine('sqlite:///:memory:')

# Function to simulate real-time data streams for a limited number of orders
def simulate_order_stream(limit=10):
    product_ids = [1, 2, 3]
    customer_ids = [2001, 2002, 2003]

    for _ in range(limit):
        order = {
            'order_id': random.randint(1004, 9999),
            'product_id': random.choice(product_ids),
            'customer_id': random.choice(customer_ids),
            'quantity': random.randint(1, 5),
            'order_amount': round(random.uniform(50, 500), 2),
            'order_date': datetime.now()
        }
        yield pd.DataFrame([order])
        sleep(1)  # Pause for 1 second to simulate real-time data stream

# Load the real-time orders into the SQLite database
for order_batch in simulate_order_stream(limit=10):
    order_batch.to_sql('order_fact', con=engine, if_exists='append', index=False)
    print(f"Order batch loaded into the database at {datetime.now()}")

Order batch loaded into the database at 2024-09-27 07:47:14.909588
Order batch loaded into the database at 2024-09-27 07:47:15.914759
Order batch loaded into the database at 2024-09-27 07:47:16.920482
Order batch loaded into the database at 2024-09-27 07:47:17.925916
Order batch loaded into the database at 2024-09-27 07:47:18.932625
Order batch loaded into the database at 2024-09-27 07:47:19.938594
Order batch loaded into the database at 2024-09-27 07:47:20.945696
Order batch loaded into the database at 2024-09-27 07:47:21.953392
Order batch loaded into the database at 2024-09-27 07:47:22.962728
Order batch loaded into the database at 2024-09-27 07:47:23.971283

In [10]:
# Query the database to retrieve the real-time order data
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

# Execute a query to view all the orders
cursor.execute("SELECT * FROM order_fact")
orders = cursor.fetchall()

print("\nOrder Data:")
for order in orders:
    print(order)

conn.close()

Order Data:
(9846, 1, 2003, 4, 282.06, '2024-09-27 07:42:30.341119')
(4339, 3, 2002, 5, 223.78, '2024-09-27 07:42:32.374895')
(2765, 3, 2001, 1, 405.68, '2024-09-27 07:42:34.391448')
(8992, 2, 2003, 5, 423.66, '2024-09-27 07:42:36.409160')
(4056, 3, 2001, 2, 59.89, '2024-09-27 07:42:38.425998')
(6718, 2, 2003, 3, 325.24, '2024-09-27 07:42:40.442400')
(1111, 3, 2003, 3, 437.41, '2024-09-27 07:42:42.456442')
(7072, 2, 2001, 5, 224.86, '2024-09-27 07:42:44.474067')
(2902, 1, 2002, 2, 131.63, '2024-09-27 07:42:46.491277')
(3191, 1, 2001, 3, 338.88, '2024-09-27 07:42:48.507291')
(6248, 3, 2002, 4, 337.2, '2024-09-27 07:42:50.522271')
(8266, 2, 2002, 2, 452.75, '2024-09-27 07:42:52.539198')
(7458, 3, 2001, 4, 397.91, '2024-09-27 07:45:01.501964')
(2457, 1, 2002, 5, 233.12, '2024-09-27 07:45:03.521953')
(9338, 2, 2001, 3, 131.08, '2024-09-27 07:45:05.537480')
(6230, 1, 2001, 3, 141.32, '2024-09-27 07:45:07.564827')